<div class="relative d-none d-md-flex bg-light">
	<div class="t l r b absolute">
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-md-6 d-flex flex-column justify-content-center">
					<h1 class="mb-5">
						Choose a better<br />
						way to work.
					</h1>
					<p class="mb-5">
						Simple pricing, tailored to your business<br />
						needs. Upgrade any time.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid py-5 px-0">
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6 text-right">
				<img class="my-5 pt-5" src="/assets/pip-studying.svg" />
			</div>
		</div>
	</div>
</div>
<div class="container-fluid relative">
	<div class="container pt-5 z-up">
		<div class="row">
			<div class="col-12">
				<h2 class="mb-md-5 py-5 text-center">Pricing</h2>
			</div>
			<div class="col-12 mb-4 col-md-4">
				<div class="bg-purple p-4 text-white b-rad">
					<h5 class="pl-3 my-3">Starter</h5>

					<ul class="d-block list-unstyled mt-3 mb-5">
						<li>10 team members included</li>
						<li>Maximum 10 team members</li>
						<li>10 Published Contracts</li>
						<li>System built templates</li>
						<li>2 GB of storage</li>
						<li>Email support</li>
						<li>Help center access</li>
					</ul>
					<h2 class="price-text mt-4 mb-0">Free!</h2>
					<div class="price-mute">Upgrade anytime</div>
					<div class="text-center mt-4">
						<a class="btn btn-outline px-4 py-2 mb-3" href="//app.milestonepay.com/login">Get started</a>
					</div>
				</div>
			</div>
			<div class="col-12 mb-4 col-md-4">
				<div class="bg-purple p-4 text-white b-rad">
					<h5 class="pl-3 my-3">Pro</h5>

					<ul class="d-block list-unstyled mt-3 mb-5">
						<li>10 team members included</li>
						<li>$5 <span>/ mo</span> per additional team member</li>
						<li>Maximum 100 team members</li>
						<li>Granular User Roles and Permissions</li>
						<li>Unlimited Published Contracts</li>
						<li>System built templates</li>
						<li>Create your own templates</li>
						<li>Personally Branded Contracts</li>
						<li>10 GB of storage</li>
						<li>Priority email support</li>
						<li>Help center access</li>
					</ul>
					<h2 class="price-text mt-4">$29 <small>/ mo</small></h2>
					<div class="text-center mt-4">
						<a class="btn btn-outline px-4 py-2 mb-3" href="//app.milestonepay.com/login">Get started</a>
					</div>
				</div>
			</div>
			<div class="col-12 mb-4 col-md-4">
				<div class="bg-purple p-4 text-white b-rad">
					<h5 class="pl-3 my-3">Enterprise</h5>

					<ul class="d-block list-unstyled mt-3 mb-5">
						<li>Granular user roles and permissions</li>
						<li>Unlimited Published Contracts</li>
						<li>System built templates</li>
						<li>Create your own templates</li>
						<li>Personally Branded Contracts</li>
						<li>Audit trail of all contract changes</li>
						<li>Enterprise SSO Authentication via SAML</li>
						<li>Custom Development</li>
						<li>Custom Integrations</li>
						<li>Unlimited storage</li>
						<li>Phone and email support</li>
						<li>Help center access</li>
					</ul>
					<h2 class="price-text mt-4">Let's Chat</h2>
					<div class="text-center mt-4">
						<button class="btn btn-outline px-4 py-2 mb-3" (click)="open()">Contact Sales</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 mt-md-5 pt-5">
					<h2 class="my-md-5 pb-md-5 text-center">Payments</h2>
				</div>
			</div>
			<div class="row mt-5 mb-md-5 pb-md-5">
				<div class="col-12 col-md-10 offset-md-1">
					<div class="row">
						<div class="col-md-5">
							<h3>Credit and Debit Cards</h3>
							<p>Payments through MilestonePay are secure and automatic. Pay as you go with no additional setup or monthly fees. Doing over</p>
							<p>$100,000 per month? Depending on your business we may be able to offer Volume Pricing.</p>
							<button (click)="open()" type="button" class="btn d-none d-md-block btn-primary mt-md-3 mb-md-4 py-3 px-4 mb-5">Contact Sales</button>
						</div>
						<div class="col-md-6 offset-md-1">
							<div class="row">
								<div class="col text-md-center">
									<h3>2.5% + 30c</h3>
									<p>
										For Domestic<br />
										Transactions
									</p>
								</div>
								<div class="col text-md-center">
									<h3>4% + 30c</h3>
									<p>
										For International<br />
										Transactions
									</p>
								</div>
							</div>
							<div class="text-md-center small col">* An additional 2% is required for International currency conversions</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5 mb-5 pb-5">
				<div class="col-12 col-md-10 offset-md-1">
					<div class="row">
						<div class="col-md-6 order-1 order-md-0 mb-5 mb-md-0">
							<div class="row">
								<div class="col text-md-center">
									<p>Direct to your Bank Account</p>
									<h3>0.5% + 25c</h3>
								</div>
								<div class="text-md-center small col-12">
									Australian Account Payout. Based on Payout Volume.<br />
									An additional 0.5% is required for currency conversions
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<h3>Payouts</h3>
							<p>
								Payouts occur on a rolling basis per transaction received to your account according to your payout window.
								<br />And differ from country to country and bank to bank.
							</p>
							<p>
								Bank Account Outside Australia?<br />
								Chat to us for location specific pricing.
							</p>
							<button (click)="open()" type="button" class="btn d-none d-md-block btn-primary mt-md-3 mt-5 mb-4 py-3 px-4">Contact Sales</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<app-call-to-action></app-call-to-action>
	</div>
	<div class="absolute z-down text-center t l b r w-100">
		<svg class="w-100" class="pt-5 w-100" width="1049" height="1668" viewBox="0 0 1049 1668" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M122.469 1594.77C126.749 1607.01 134.045 1617.97 143.681 1626.65C153.318 1635.32 164.985 1641.43 177.605 1644.4C190.225 1647.38 203.391 1647.12 215.887 1643.66C228.383 1640.2 239.805 1633.65 249.099 1624.61C258.394 1615.57 265.26 1604.33 269.064 1591.94C272.868 1579.54 273.486 1566.39 270.863 1553.69C268.24 1540.99 262.459 1529.16 254.055 1519.29C245.651 1509.42 234.894 1501.82 222.778 1497.2L195.302 1569.3L122.469 1594.77Z"
				fill="#F1F1F1"
			/>
			<circle cx="1017" cy="112" r="112" fill="#F1F1F1" />
			<circle cx="112" cy="900" r="112" fill="#F9D438" />
			<rect x="943.06" y="1241.72" width="189.085" height="187.493" rx="5" transform="rotate(-116.395 943.06 1241.72)" fill="#F1F1F1" />
		</svg>
	</div>
</div>
