<div class="container">
	<div class="row">
		<div class="col-12 mb-3 text-center">
			<h2>Begin saving with MilestonePay</h2>
		</div>
		<div class="text-center">
			<p class="font-15px">Save money & y amount of hours doing paperwork using milestone pay</p>
		</div>
	</div>
</div>
<div class="container mt-5">
	<div class="row d-flex justify-content-between">
		<div class="col-3 pl-5">
			<p>How many contracts  do you make per year?</p>
			<h3 class="text-purple">Your #</h3>
		</div>
		<div class="col-3 pl-4 left-border-1px-black">
			<p>How many pay late  or not at all?</p>
			<h3 class="text-purple">Your #</h3>
		</div>
		<div class="col-3 pl-4 left-border-1px-black">
			<p>What is the average invoice value?</p>
			<h3 class="text-purple">Your #</h3>
		</div>
		<div class="col-3 pl-4 mr-0 left-border-1px-black">
			<p>Your yearly saving:</p>
			<h1 class="text-purple">$1890</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row d-flex justify-content-center input-group input-group-lg">
		<button class="col-2 btn btn-primary text-white my-5">Start Saving</button>
	</div>
</div>
