.theme-g-bg {
  background: linear-gradient(to right, #03c, #f06543);
}
.effect-img svg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.effect-section {
  position: relative;
}
.mh-50 {
  min-height: 50vh;
}
