.article-preview {
  margin-bottom: 80px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.image {
  background: #191919;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  max-height: 300px !important;
  width: auto;
  object-fit: contain;
}

a {
  color: #111;
  text-decoration: none;
  .read-more {
    &:hover {
      text-decoration: underline;
    }
  }
}

h2 {
  font-size: 24px !important;
  line-height: 29px;
  display: flex;
  align-items: center;
}

.excerpt {
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
}

.read-more {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
