.column-title {
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 143.9%;
	/* or 10px */

	color: #ffffff;
}

.icon {
	height: 20px;
	width: 20px;
}

a.nav-link {
	font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 190.9%;
	/* or 25px */

	color: #ffffff;
	&:hover,
	&:active {
		color: #8513ba;
	}
}

* {
	color: #fff;
}
footer {
	background: #f2644d;
	min-height: 30vh;
	div > h2 {
		font-family: DM Sans;
		font-style: normal;
		font-weight: 400 !important;
		font-size: 25px !important;
		line-height: 118.9%;
		/* or 30px */
		white-space: nowrap;
		color: #ffffff;
	}
}
.input-outline {
	input {
		line-height: 34px;
		background: transparent;
		border: 2px solid #fff;
		color: #fff;
		font-family: DM Sans;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		display: flex;
		align-items: center;

		color: #ffffff !important;

		&::placeholder {
			color: #fff;
			font-family: DM Sans;
			font-style: normal;
			font-weight: 500;
			font-size: 10px;
			line-height: 13px;
			display: flex;
			align-items: center;

			color: #ffffff !important;
		}
	}
	.btn {
		font-family: DM Sans;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 13px;
		background: #fff !important;
		color: #f2644d !important;
		border-color: #fff !important;
	}
}
