<section class="relative d-flex new-slider flex-column justify-content-center min-100">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 text-center">
        <h3>MilestonePay's Features</h3>
        <p class="mb-5">Here's only some of what we can do! You'll have to login for more.</p>
      </div>
      <div class="col-3 px-1 mb-2">
        <ul class="list-group">
          <li class="list-group-item active">Pitch</li>
          <li class="list-group-item"><strong>Contract</strong></li>
          <li class="list-group-item">Contract Library</li>
          <li class="list-group-item">Contract Builder</li>
          <li class="list-group-item">E Sign</li>
          <li class="list-group-item"><strong>Payments</strong></li>
          <li class="list-group-item">MilestonePay Payments</li>
          <li class="list-group-item">Pay Upfront</li>
          <li class="list-group-item">Pay After</li>
        </ul>
      </div>
      <div class="col-3 px-1 mb-2">
        <ul class="list-group">
          <li class="list-group-item active secondary-active">Operate</li>
          <li class="list-group-item"><strong>Status</strong></li>
          <li class="list-group-item">Living Contract</li>
          <li class="list-group-item">Change Request Tool</li>
          <li class="list-group-item">Variation Tool</li>
          <li class="list-group-item">Live Status Report</li>
          <li class="list-group-item">Comment and Share</li>
          <li class="list-group-item"><strong>Balance</strong></li>
          <li class="list-group-item">Track Cashflow</li>
          <li class="list-group-item">Detailed Reporting</li>
          <li class="list-group-item">Upcoming Payments</li>
        </ul>
      </div>
      <div class="col-3 px-1 mb-2">
        <ul class="list-group">
          <li class="list-group-item active">Audit</li>
          <li class="list-group-item"><strong>Activity</strong></li>
          <li class="list-group-item">Audit Milestones</li>
          <li class="list-group-item">Audit Users</li>
          <li class="list-group-item">Audit Changes</li>
          <li class="list-group-item"><strong>Change</strong></li>
          <li class="list-group-item">Variation Management</li>
        </ul>
      </div>
      <div class="col-3 px-1 mb-2">
        <ul class="list-group">
          <li class="list-group-item active secondary-active">Teams</li>
          <li class="list-group-item"><strong>Manage</strong></li>
          <li class="list-group-item">Set Permissions</li>
          <li class="list-group-item">Access for Billing Users</li>
          <li class="list-group-item"><strong>Payments</strong></li>
          <li class="list-group-item">User Management</li>
          <li class="list-group-item">Payments</li>
          <li class="list-group-item">User Management</li>
        </ul>
      </div>
      <div class="col-12 mt-5 small text-muted text-center">
        <span>And many more - have something specific? Suggest it to us in the chat below.</span>
      </div>
    </div>
  </div>
</section>
