.subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.page-title {
	margin-top: 80px;
	margin-bottom: 64px;
}

h1 {
	margin-bottom: 0;
}
