<div class="container-fluid relative py-5 bg-light">
  <div class="container relative z-up max-w py-5 my-5 text-center">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-5">Jobs at MilestonePay</h1>
        <p class="mb-3">Are you awesome at what you do?</p>
        <p class="mb-3">
          Although we aren't actively hiring we are always on the lookout for fantastic people that have a passion for crafting / selling /
          marketing / supporting usable, helpful and well built software. Shoot us an email hello@milestonepay.com
        </p>
        <p class="mb-3">Check back regularly.</p>
      </div>
    </div>

    <div class="row justify-content-center mt-5 text-left">
      <div class="col-md-6 br-1 pr-md-5 pb-5">
        <h6 class="pt-5 mb-4">Talented Enigma</h6>
        <p>Sales Pro, Design Superstar, Customer Success Weapon, Devops Rockstar and Wearer of Many Hats.</p>
        <p>
          Working at MilestonePay is a fun dynamic environment with so many things to do that we never get bored. Are you ready to use your
          skills to help propel the mission forward and feel obligated to reach out? (Please do. We don't bite!)
        </p>
      </div>

      <div class="col-md-6 pl-md-5 pb-5">
        <h6 class="pt-5 mb-4">Freelancer</h6>
        <p>Are you a freelancer extraordinaire, Duke of the home office, Shaper of awesome?</p>
        <p>
          Do you already notice things in our site and apps that you know you could make better? Don't be shy. Reach out. We love builders,
          makers and going against the grain.
        </p>
      </div>
    </div>
  </div>

  <div class="absolute bg-light text-center t l b r w-100">
    <svg width="957" class="w-100" height="624" viewBox="0 0 957 624" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="28" cy="538" r="86" fill="white" />
      <rect x="828.492" y="201.835" width="148.432" height="147.183" rx="5" transform="rotate(-119.678 828.492 201.835)" fill="white" />
    </svg>
  </div>
</div>
