.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: transparent;
  &:after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: -52px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  .container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    &:after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      right: -12px;
      background-color: white;
      border: 4px solid #ff9f55;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      transform: scale(1);
      animation: pulse 1s infinite;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }
  }
  .left {
    left: 0;
    &:before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid white;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent white;
    }
  }

  .right {
    left: 50%;
    &:before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
    &:after {
      left: -12px;
    }
  }
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  @media screen and (max-width: 600px) {
    &:after {
      left: 31px;
    }
    .container-timeline {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
      &:before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    }
    .left::after,
    .right::after {
      left: 15px;
    }
    .right {
      left: 0%;
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.lead-secondary {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
