<div class="relative d-flex flex-column pt-5 mt-5 justify-content-center">
  <div class="container">
    <div class="jumbotron p-3 p-md-5 mt-3 mb-5 text-white rounded bg-dark">
      <div class="col-12 px-0">
        <h1 class="display-4 font-italic">Simple Milestone based payments</h1>
        <p class="lead my-3">
          MilestonePay is an all in one platform to provide transparency and documentation for SMB's and their clients. Clarity between
          customers and suppliers is key to a positive engagement and we're here to solve problems for everyone.
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Automated Workflow</strong>
            <h3 class="mb-0">
              <a class="text-dark" routerLink="/getting-started" fragment="service-provider">I provide services!</a>
            </h3>
            <p class="card-text mb-auto mt-2">
              You are a fantastic service provider that loves clear expectations and deliverables so you can work diligently to complete
              them and be paid in a timely manner.
            </p>
            <!-- <a
              class="mt-2"
              routerLink="/getting-started"
              fragment="service-provider"
              >Find out how we help you</a -->
            <!-- > -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">Full Transparency</strong>
            <h3 class="mb-0">
              <a class="text-dark" routerLink="/getting-started" fragment="client">I am a client!</a>
            </h3>
            <p class="card-text mb-auto mt-2">
              You are a great customer that has had projects go awry with unclear expectations and deliverables but are happy to pay for
              work that is completed.
            </p>
            <!-- <a class="mt-2" routerLink="/getting-started" fragment="client"
              >Find out how we help you</a
            > -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid background-blue">
  <div class="container">
    <!-- <div class="timeline">
      <div class="container-timeline left">
        <div class="content pb-4">
          <h3 class="mb-4">It all starts with a contract</h3>
          <p>
            As a service provider you create a contract between your company and a customer. This contract contains Milestones that act as
            points in time for a customer to make a payment.
          </p>
          <p>You assign deliverables and acceptance criteria and enter your customers email address to publish the contract</p>
        </div>
      </div>
      <div class="container-timeline right">
        <div class="content pb-4">
          <h3 class="mb-4">Then a review</h3>
          <p>
            Your customer receives a MilestonePay link in their email that lets them log in and view the contract you have created for them.
            At this point the customer has 2 options; Accept the contract and let work begin <b>or</b> suggest a change.
          </p>
          <p>In this scenario they suggest that a change needs to be made</p>
        </div>
      </div>
      <div class="container-timeline left">
        <div class="content pb-4">
          <h3 class="mb-4">Changes are suggested</h3>
          <p>You see that your customer wants a few changes to the contract before they agree to the body of work.</p>
          <p>
            You amend the contract with the new requirements and alter the price / timeline and send it back to your customer for their
            feedback once again.
          </p>
        </div>
      </div>
      <div class="container-timeline right">
        <div class="content pb-4">
          <h3 class="mb-4">Your client accepts the altered contract</h3>
          <p>Your client is happy with the changes and agrees to go ahead with the contract.</p>
          <p>The client is prompted for their payment information and makes a pays upfront for the first Milestone.</p>
        </div>
      </div>
      <div class="container-timeline left">
        <div class="content pb-4">
          <h3 class="mb-4">You begin the work</h3>
          <p>You are notified that your customer has paid upfront for your services and that they are securely held with MilestonePay.</p>
          <p>
            You complete the work agreed to in the first Milestone and your customer is notified that the Milestone is ready for review.
          </p>
        </div>
      </div>
      <div class="container-timeline right">
        <div class="content pb-4">
          <h3 class="mb-4">Your client is pleased with the work</h3>
          <p>As a wonderful service provider you have met and exceeded what was promised to your customer.</p>
          <p>The customer accepts that the Milestone is complete and the payment is scheduled for payout to your business</p>
        </div>
      </div>
      <div class="container-timeline left">
        <div class="content pb-4">
          <h3 class="mb-4">You receive your payout</h3>
          <p>MilestonePay sends your payment directly to your bank account once your payout period has completed.</p>
          <p>You are then free to repeat the process for subsequent Milestones</p>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col text-center">
        <p class="lead-secondary mt-3">
          So you have seen what a typical contract flow looks like when using MilestonePay, let's take a deeper look at what service
          providers and clients can look forward to.
        </p>
        <div class="mb-5 mt-5">
          <h1 id="service-provider">Service Providers</h1>
        </div>
        <div class="row">
          <div class="col">
            <div class="card h-100 mb-3">
              <div class="card-header">Clarity</div>
              <div class="card-body">
                <h5 class="card-title">Clearly defined deliverables and acceptance criteria</h5>
                <p class="card-text">
                  Every Milestone that you work on will have work items defined with your client upfront, in black and white, written by you
                  and agreed upon by both parties.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 mb-3">
              <div class="card-header">Reduce Project Overhead</div>
              <div class="card-body">
                <h5 class="card-title">Automatic Project Management Updates</h5>
                <p class="card-text">
                  As you complete tasks your team and client are made completely aware of how you are tracking. This reduces the time you
                  need to spend in meetings and increases the time you can dedicate to your craft.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 mb-3">
              <div class="card-header">Get Paid On Time</div>
              <div class="card-body">
                <h5 class="card-title">Your clients' payments made on your terms</h5>
                <p class="card-text">
                  You can decide if a Milestone will be paid upfront, paid when you finish or use the preferred hybrid
                  <b>MilestonePay</b> (funds are taken upfront and held securely, then released once work is complete).
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="my-5">
          <h1 id="client">Clients</h1>
        </div>
        <div class="row">
          <div class="col">
            <div class="card h-100 mb-3">
              <div class="card-header">Peace of Mind</div>
              <div class="card-body">
                <h5 class="card-title">Your money is protected until the work is complete</h5>
                <p class="card-text">
                  Any agreed deliverables must meet your previously agreed acceptance criteria in order for MilestonePay to pay your service
                  provider. If your service provider elects not to complete the work <b>or</b> both parties agree to terminate the contract
                  the customer is refunded any outstanding credit.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 mb-3">
              <div class="card-header">Calls not Required</div>
              <div class="card-body">
                <h5 class="card-title">Service Provider Status Reports</h5>
                <p class="card-text">
                  You can log in at any time and see how your work is progressing and also be notified by email. This saves you the hassle
                  of taking the time out of your busy day to do quick check-ins.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 mb-3">
              <div class="card-header">Change Requests</div>
              <div class="card-body">
                <h5 class="card-title">You want to change a deliverable</h5>
                <p class="card-text">
                  You can see your service provider is working well and completing your tasks. However you notice a piece of the project you
                  would love to change that wasn't previously agreed to in your contract. Our change request flow has you covered. Request
                  the change and let your service provider alter the price and delivery timeline to accomodate your new request.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-call-to-action></app-call-to-action>
