<div class="container-fluid relative">
	<div class="container pt-5 z-up">
		<div class="row">
			<div class="col-12">
				<h2 class="mb-md-5 py-5 text-center">Features</h2>
			</div>
		</div>
		<div class="row overflow">
			<div class="col-12 mb-4 col-md-3">
				<div class="bg-purple p-4 text-white b-rad bg-text-mobile">
					<h5 class="pl-3 my-3">Pitch</h5>

					<ul class="d-block list-unstyled mt-3 mb-5">
						<li>1 account</li>
						<li>Maximum 10 team members</li>
						<li>10 Published Contracts</li>
						<li>System built templates</li>
						<li>2 GB of storage</li>
						<li>Email support</li>
						<li>Help center access</li>
					</ul>
				</div>
			</div>
			<div class="col-12 mb-4 col-md-3">
				<div class="bg-purple p-4 text-white b-rad bg-text-mobile">
					<h5 class="pl-3 my-3">Pitch</h5>

					<ul class="d-block list-unstyled mt-3 mb-5">
						<li>1 account</li>
						<li>Maximum 10 team members</li>
						<li>10 Published Contracts</li>
						<li>System built templates</li>
						<li>2 GB of storage</li>
						<li>Email support</li>
						<li>Help center access</li>
					</ul>
				</div>
			</div>
			<div class="col-12 mb-4 col-md-3">
				<div class="bg-purple p-4 text-white b-rad bg-text-mobile">
					<h5 class="pl-3 my-3">Pitch</h5>

					<ul class="d-block list-unstyled mt-3 mb-5">
						<li>1 account</li>
						<li>Maximum 10 team members</li>
						<li>10 Published Contracts</li>
						<li>System built templates</li>
						<li>2 GB of storage</li>
						<li>Email support</li>
						<li>Help center access</li>
					</ul>
				</div>
			</div>
			<div class="col-12 mb-4 col-md-3">
				<div class="bg-purple p-4 text-white b-rad bg-text-mobile">
					<h5 class="pl-3 my-3">Pitch</h5>

					<ul class="d-block list-unstyled mt-3 mb-5">
						<li>1 account</li>
						<li>Maximum 10 team members</li>
						<li>10 Published Contracts</li>
						<li>System built templates</li>
						<li>2 GB of storage</li>
						<li>Email support</li>
						<li>Help center access</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
