<div class="container-fluid relative py-5 bg-light">
  <div class="container relative z-up max-w py-5 my-5 text-center">
    <div class="row">
      <div class="col-12">
        <h1 class="mx-auto mt-5 mb-5 pb-5 h4">
          Our mission is to increase the productivity and profitability of businesses all over world
        </h1>
        <p class="mb-5">
          MilestonePay is building the business framework and tools for our digital gig economy based future. Every business should have the
          opportunity to write great proposals, create fair contracts and get paid for their hard work while simultaneously looking after
          their clients' interests.
        </p>
        <p>
          Let's face it. Legal teams, debt collectors, project managers and meetings can take up valuable time and resources out of your
          otherwise productive days and create unnecessary stress.
        </p>
        <p class="mb-5">You deserve more. Come along with us for the ride.</p>
        <strong class="mt-5">Do your best work while letting us worry about the boring stuff.</strong>
        <br />
        <br />
        <br />
        <h2 class="mt-5 mb-5">Investors</h2>
        <p>
          We are keeping our eyes out for investors who also believe in our mission. If you are, or know anyone who would be a great
          stategic fit please reach out we're always interested in other people and how we can work together to promote business.
        </p>
        <strong class="mb-3"
          >Chat to us live or reach out to us at <a href="mailto:hello@milestonepay.com">hello@milestonepay.com</a></strong
        >
        <br />
        <br />
      </div>
    </div>
  </div>
  <div class="absolute bg-light text-center t l b r w-100">
    <svg width="1016" height="916" class="w-100" viewBox="0 0 1016 916" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="887.143" y="915.656" width="148.432" height="147.183" rx="5" transform="rotate(-119.678 887.143 915.656)" fill="white" />
      <rect x="53.8652" y="193.334" width="137.285" height="136.129" rx="5" transform="rotate(-134.877 53.8652 193.334)" fill="white" />
      <circle cx="322" cy="520" r="73" fill="white" />
      <path
        d="M843.405 320.63C849.859 329.338 858.403 336.279 868.248 340.812C878.093 345.346 888.922 347.325 899.735 346.567C910.547 345.809 920.994 342.339 930.11 336.477C939.227 330.615 946.719 322.55 951.895 313.027C957.071 303.504 959.764 292.83 959.725 281.991C959.686 271.152 956.915 260.498 951.671 251.013C946.426 241.528 938.875 233.517 929.716 227.721C920.557 221.925 910.085 218.531 899.268 217.852L895.225 282.225L843.405 320.63Z"
        fill="white"
      />
    </svg>
  </div>
</div>
