h1 {
  font-style: normal;
  font-weight: 600 !important;
  font-size: 35px !important;
  line-height: 118.9%;
  /* or 42px */

  text-align: center;
}
.max-w {
  max-width: 700px;
}
.z-up {
  z-index: 99;
}
:host {
  background: #f1f1f1;
}
.absolute {
  padding-top: 50px;
}
